<ng-container
  *ngIf="dataObservable | async as dataObservableAsync; else loading"
>
  <mat-card
    *ngIf="dataObservableAsync['type'] !== 'ERROR'"
    fxLayout="column"
    fxFlexFill
  >
    <mat-card-header fxFlex="auto">
      <mat-card-title>
        All Filings
        <app-datatable-filters></app-datatable-filters>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxFlex="auto" class="overflow-y-auto mb-0">
      <form [formGroup]="searchForm" fxLayout="row" fxFlexAlign="center center">
        <mat-form-field fxLayout="column" fxFlex="90">
          <mat-label>Filter the Below Data</mat-label>
          <input matInput formControlName="filter" />
          <mat-hint>As you type, this data will change.</mat-hint>
        </mat-form-field>
        <div
          fxLayout="column"
          fxFlex="auto"
          fxFlexAlign="center center"
          class="margin-lr-05"
        >
          <mat-checkbox
            [indeterminate]="userOptions.filing_inline === null"
            (change)="toggleFilingInline()"
            formControlName="filing_inline"
            >Inline Only</mat-checkbox
          >
          <mat-checkbox
            [indeterminate]="userOptions.parsing_accomplished === null"
            (change)="toggleParsingAccomplished()"
            formControlName="parsing_accomplished"
            >Viewable Only</mat-checkbox
          >
        </div>
      </form>

      <table
        mat-table
        [dataSource]="dataObservableAsync['data']"
        matSort
        multiTemplateDataRows
        [matSortActive]="userOptions.order"
        [matSortDirection]="userOptions.order_direction"
        (matSortChange)="onSortChange($event)"
      >
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedColumns.length"
          >
            <div
              [@detailExpand]="
                element.additional_view ? 'expanded' : 'collapsed'
              "
            >
              <ng-container *ngIf="element.additional_view">
                <div fxFlexFill fxLayout="row">
                  <app-fact-overview fxFlex="33%"></app-fact-overview>
                  <app-definition fxFlex="33%"></app-definition>
                  <app-all-files-list fxFlex="33%"></app-all-files-list>
                </div>
              </ng-container>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef></th>

          <td mat-cell *matCellDef="let element">
            <ng-container
              *ngIf="element.parsing_accomplished && !element.filing_inline"
            >
              <a
                *ngIf="(dataObservable | async) !== null"
                [routerLink]="'/filings/view/' + element.id"
                mat-mini-fab
                color="primary"
                aria-label="See this filing."
                matTooltip="See this filing."
              >
                <mat-icon aria-hidden="false">pageview</mat-icon>
              </a>
            </ng-container>
            <ng-container
              *ngIf="element.parsing_accomplished && element.filing_inline"
            >
              <button
                *ngIf="(dataObservable | async) !== null"
                [routerLink]="'/filings/inline/' + element.id"
                mat-mini-fab
                color="primary"
                aria-label="See this filing."
                matTooltip="See this filing."
              >
                <mat-icon aria-hidden="false">pageview</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="!element.parsing_accomplished">
              <button
                disabled
                *ngIf="(dataObservable | async) !== null"
                mat-mini-fab
                color="primary"
                aria-label="See this filing."
              >
                <mat-icon aria-hidden="false">pageview</mat-icon>
              </button>
            </ng-container>

            <button
              (click)="onAdditionalView(element)"
              mat-mini-fab
              color="primary"
              aria-label="See additional information about this filing."
            >
              <mat-icon aria-hidden="false">more_horiz</mat-icon>
            </button>

            <ng-container *ngIf="element.filing_inline">
              <span class="inline" fxHide.xs fxHide.sm fxHide.md>INLINE</span>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="id"
            fxHide.xs
            fxHide.sm
          >
            ID
          </th>
          <td mat-cell *matCellDef="let element" fxHide.xs fxHide.sm>
            {{ element.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cik">
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="cik"
            fxHide.xs
            fxHide.sm
          >
            CIK
          </th>
          <td mat-cell *matCellDef="let element" fxHide.xs fxHide.sm>
            <button
              mat-button
              color="primary"
              matTooltip="See only CIKs of this CIK."
              (click)="onCIKFilter(element.cik)"
            >
              {{ element.cik }}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name">
            Name
          </th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="publish_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="publish_date">
            Publish Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.publish_date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="form_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="form_type">
            Form Type
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-button
              color="primary"
              matTooltip="See only Filing Types of this type."
              (click)="onFormTypeFilter(element.form_type)"
            >
              {{ element.form_type }}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="filing_period">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="filing_period"
            fxHide.xs
            fxHide.sm
            fxHide.md
          >
            Filing Period
          </th>
          <td mat-cell *matCellDef="let element" fxHide.xs fxHide.sm fxHide.md>
            <button
              mat-button
              color="primary"
              matTooltip="See only Filing Periods of this date."
              (click)="onFilingPeriodFilter(element.filing_period)"
            >
              {{ element.filing_period }}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="file_number">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="file_number"
            fxHide.xs
            fxHide.sm
            fxHide.md
          >
            File Number
          </th>
          <td mat-cell *matCellDef="let element" fxHide.xs fxHide.sm fxHide.md>
            {{ element.file_number }}
          </td>
        </ng-container>

        <ng-container matColumnDef="acceptance_date">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="acceptance_date"
            fxHide.xs
            fxHide.sm
            fxHide.md
          >
            Acceptance Date
          </th>
          <td mat-cell *matCellDef="let element" fxHide.xs fxHide.sm fxHide.md>
            {{ element.acceptance_date }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [class.example-expanded-row]="expandedElement === element"
        ></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="detail-row"
        ></tr>
      </table>
    </mat-card-content>
    <mat-card-actions fxFlex="auto" fxLayoutAlign="end center">
      <mat-paginator
        [length]="dataObservableAsync.total"
        [pageSize]="userOptions.page_size"
        [pageIndex]="userOptions.page_index - 1"
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true"
        (page)="pageEvent = $event; onPaginateChange($event)"
      >
      </mat-paginator>
      <button
        (click)="reloadContent()"
        *ngIf="(dataObservable | async) !== null"
        mat-mini-fab
        color="primary"
        aria-label="Reload this data."
      >
        <mat-icon aria-hidden="false">autorenew</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <ng-container *ngIf="dataObservableAsync['type'] === 'ERROR'">
    <app-error [error]="dataObservableAsync"></app-error>
  </ng-container>
</ng-container>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
