<ng-container *ngIf="menuObservable | async; let menuObservableAsync">
  <app-header></app-header>

  <section fxLayout="column">
    <mat-sidenav-container
      hasBackdrop="false"
      autosize="false"
      fxFlex="0 0 calc(100vh - 128px)"
    >
      <mat-sidenav
        [opened]="menuObservableAsync.main_menu"
        mode="over"
        position="start"
        autoFocus="false"
        measureScrollOffset="100"
        fxLayout="column"
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.sm="100%"
        fxFlex.md="50%"
        fxFlex.lg="25%"
        fxFlex.xl="25%"
        fxFlexFill
      >
        <app-main-menu></app-main-menu>
      </mat-sidenav>

      <mat-sidenav
        [opened]="menuObservableAsync.user_menu"
        mode="over"
        position="end"
        autoFocus="false"
        measureScrollOffset="100"
        fxLayout="column"
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.sm="100%"
        fxFlex.md="50%"
        fxFlex.lg="25%"
        fxFlex.xl="25%"
        fxFlexFill
      >
        <app-user-menu></app-user-menu>
      </mat-sidenav>
      <mat-sidenav-content fxLayout="column" fxFlexFill>
        <div fxFlex="0 0 calc(100vh - 128px)">
          <router-outlet fxFlexFill></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </section>
  <app-footer></app-footer>
</ng-container>
