<ng-container *ngIf="responsiveObservable | async; let responsiveObservableAsync;">
  <mat-grid-list #gridContainer [cols]="getDynamicColumns(responsiveObservableAsync)" rowHeight="50%" fxFlexFill
    gutterSize="0">
    <mat-grid-tile>
      <app-bar-graph fxFlexFill class="padding-05"></app-bar-graph>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-pie-graph fxFlexFill class="padding-05"></app-pie-graph>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-line-graph fxFlexFill class="padding-05"></app-line-graph>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-example fxFlexFill class="padding-05"></app-example>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>