<ng-container
  *ngIf="responsiveObservable | async; let responsiveObservableAsync"
>
  <mat-grid-list
    #gridContainer
    [cols]="getDynamicColumns(responsiveObservableAsync)"
    [rowHeight]="getDynamicRowHeight(responsiveObservableAsync)"
    fxFlexFill
    gutterSize="0"
  >
    <mat-grid-tile>
      <app-overview fxFlexFill class="padding-05"></app-overview>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-counts fxFlexFill class="padding-05"></app-counts>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-newest fxFlexFill class="padding-05"></app-newest>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-example fxFlexFill class="padding-05"></app-example>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
