<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayout.sm="column" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%"
    fxFlex.xl="50%">
    <app-example fxLayout="column" fxFlex="100%" class="margin-1"></app-example>
    <app-example fxLayout="column" fxFlex="100%" class="margin-1"></app-example>
  </div>
  <div fxLayout="row" fxLayout.sm="column" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%"
    fxFlex.xl="50%">
    <app-example fxLayout="column" fxFlex="100%" class="margin-1"></app-example>
    <app-example fxLayout="column" fxFlex="100%" class="margin-1"></app-example>
  </div>
</div>